[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fiber"]
	path = fiber
	url = https://github.com/tractoverse/fiber
[submodule "midi"]
	path = midi
	url = https://github.com/tractoverse/midi
